<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Не переписываем реальные файлы
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Не переписываем реальные папки
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Всё остальное идёт на index.html
    RewriteRule ^(?!api\/)(.*)$ index.html [L]
</IfModule>
